<script>  
  function addMarker() {
    let glyphImg = document.createElement("img");

    const avatarUrl = '<%= current_user.avatar_url %>'.startsWith('http')
      ? '<%= current_user.avatar_url %>'
      : new URL('<%= current_user.avatar_url %>', baseUrl).href;

    glyphImg.src = avatarUrl;
    glyphImg.className = 'glyph-img';  

    let glyphSvgPinView = new google.maps.marker.PinElement({
      glyph: glyphImg,
    });

    const contentString = '<div><%= j render 'spots/modal', spot: @spot %></div>';

    let infowindow = new google.maps.InfoWindow({
      content: contentString,
      ariaLabel: '<%= @spot.name %>',
    });  

    let marker = new google.maps.marker.AdvancedMarkerElement({
      map: map,
      position: {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>},
      content: glyphSvgPinView.element,
    });
    marker.id = <%= @spot.id %>;
    markers.push(marker);


    // マーカークリック時に情報ウィンドウを開くイベントリスナーを追加
    marker.addListener('click', () => {
      infowindow.open({
        anchor: marker,
        map: map,
      });
    });

    // リストのスポット名をクリックするとマップの情報ウィンドウが開く
    let open_infowindow = document.getElementById('infowindow-<%= @spot.id %>')
    if (open_infowindow) {
      open_infowindow.addEventListener('click', () => {
        infowindow.open({
          anchor: marker,
          map: map,
        });
      });
    }

    // ウィンドウ以外の場所をクリックしてウィンドウを閉じる処理
    google.maps.event.addListener(map, 'click', function() {
      infowindow.close();
    });
  }

  addMarker();
</script>