<tr id="spot-<%= spot.id %>">
  <td>1</td>
  <td>  
    <%= render 'spots/modal', spot: spot %>
  </td>
  <td>
    <%= link_to "#", class:"hover:brightness-75" do %>
      <div class="avatar">
          <div class="rounded-full mx-2 md:mx-auto w-7 h-7 md:w-12 md:h-12">
            <%= image_tag "sample.jpg", alt:"Avatar" %>
          </div>
      </div>
    <% end %>
  </td>
  <td class="hidden md:block">
    <%= link_to "削除", spot_path(spot, plan_id:plan.id), class:"text-base-content btn btn-error", data: {turbo_method: :delete, turbo_confirm: t('defaults.flash_message.delete_confirm') }, onclick: "removeMarker(#{spot.id});" %>
  </td>
  <td class="md:hidden">
    <%= link_to spot_path(spot, plan_id:plan.id), data: {turbo_method: :delete, turbo_confirm: t('defaults.flash_message.delete_confirm') } do %>
      <span class="material-symbols-outlined">
        delete
      </span>
    <% end %>
  </td>
  <th>
    <label>
      <input type="checkbox" class="checkbox" />
    </label>
  </th>
</tr>
