<article class="flex justify-center items-center pt-3">
  <div class="card shrink-0 max-w-xs md:w-full md:max-w-sm shadow-2xl bg-base-100">

    <div class="card-body">
      <h2 class="text-xl md:text-2xl font-bold mb-1 md:mb-2 underline text-center"><%= t('.sign_up') %></h2>
      <!-- LINE認証 -->
      <div class="flex justify-center">
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= button_to omniauth_authorize_path(resource_name, provider), class:"w-28 md:w-auto hover:brightness-75", data: { turbo: false } do %>
            <%= image_tag "btn_login_base.png", alt: "line button" %>
          <% end %>
        <% end %> 
      </div>

      <div class="border-b text-center">
        <div class="leading-none px-2 inline-block text-xs md:text-sm text-gray-600 tracking-wide font-medium bg-white transform translate-y-1/2">
          または
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="form-control my-1">
          <%= f.label :name, class:"text-sm" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input input-sm md:input-md input-bordered", placeholder: "名前を入力してね" %>
        </div>

        <div class="form-control my-1">
          <%= f.label :email, class:"text-sm" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-sm md:input-md input-bordered", placeholder: "メールアドレスを入力してね" %>
        </div>

        <div class="form-control my-1">
          <div class="flex">
            <%= f.label :password, class:"text-sm" %>
            <p class="text-sm"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></p>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: "input input-sm md:input-md input-bordered", placeholder: "パスワードを入力してね" %>
        </div>

        <div class="form-control my-1">
          <%= f.label :password_confirmation, class:"text-sm" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-sm md:input-md input-bordered", placeholder: "再度パスワードを入力してね" %>
        </div>

        <div class="flex justify-center mt-3">
          <%= f.submit t('.sign_up'), class: "text-base-content btn btn-sm md:btn-md btn-accent" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</article>