<div class="flex flex-col justify-center items-center m-3">
  <div class="bg-info w-full">
    <div class="pt-4 md:pt-8 text-center">
      <h1 class="text-lg md:text-3xl text-base-content text-opacity-80">私たちだけの旅行プラン、</h1>
      <h1 class="text-2xl md:text-4xl font-black ps-3">もっと気軽に。もっと楽しく。</h1>
    </div>
    <%= image_tag "Tripot Share.jpg", alt: "Top", class:"mx-auto w-[200px] h-[200px] md:w-[400px] md:h-[400px] pr-4" %>
  </div>

  <p class="text-xs md:text-lg text-base-content text-opacity-70 m-3">Tripot Shareはメンバーと行きたい場所を共有して、<br class="md:hidden"/>もっと気軽にオリジナルな旅行プランをつくることが<br class="md:hidden" />できるサービスです。</p>

  <% if signed_in? %>
    <%= link_to "プランをつくってみる", new_plan_path, class:"text-base-content btn btn-accent md:btn-lg mb-3" %>
  <% else %>
    <%= link_to "プランをつくってみる", new_user_registration_path, class:"text-base-content btn btn-accent md:btn-lg" %>
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, class:"text-base-content btn md:btn-lg my-3", data: {turbo_method: :post} %>
  <% end %>
  <%= link_to "みんなのプランをみる", plans_path, class:"text-base-content btn btn-primary md:btn-lg" %>

  <div class="m-6 pt-4 md:pt-8 w-full md:w-9/12">
    <p class="md:text-2xl underline font-bold">旅行計画立てる時こんなことはないですか？</p>
    <div class="text-sm md:text-lg mt-4 md:mt-8">
      <div class="chat chat-start mb-2 md:mb-6 md:ps-5">
        <div class="chat-bubble chat-bubble-info text-base-content">モデルコースじゃなくて自分たちの行きたいところだけで旅行をしたい！</div>
      </div>
      <div class="chat chat-end mb-2 md:mb-6 md:pr-32">
        <div class="chat-bubble chat-bubble-secondary text-base-content">一緒に行くメンバーと行きたいところを共有し合うのが大変！</div>
      </div>
      <div class="chat chat-start mb-2 md:mb-6 md:ps-5">
        <div class="chat-bubble chat-bubble-info text-base-content">初めての土地だから、いきたい場所同士の距離感がわからない！</div>
      </div>
    </div>
  <div>

  <div class="flex justify-center ml-36 md:ml-52">
    <div class="grid text-base-content text-opacity-70">
      <span class="material-symbols-outlined" style= "font-size: 40px;">
        stat_minus_3
      </span>
      <span class="material-symbols-outlined" style= "font-size: 40px;">
        stat_minus_3
      </span>
      <span class="material-symbols-outlined" style= "font-size: 40px;">
        stat_minus_3
      </span>
    </div>
    <p class="mt-3 text-sm md:text-2xl pt-5 md:pl-2">Tripot Shareなら・・・</p>
  </div>


  <h2 class="text-2xl md:text-2xl font-bold underline my-4">プランごとにスポットを登録！</h2>
  <div class="carousel rounded-box bg-base-100 gap-x-8 md:w-[400px]">
    <div class="carousel-item w-full">
      <div class="flex flex-col p-5">
        <p class="text-lg pb-2">1.プラン名と場所、日程を入力</p>
        <%= image_tag "plan_new.png", alt: "PlanNew", class:"w-[350px] h-[500px]" %>
      </div>
    </div> 
    <div class="carousel-item w-full">
      <div class="flex flex-col p-5">
        <p class="text-lg pb-2">2.スポット名を入力</p>
        <%= image_tag "spot_new.gif", alt: "SpotNew", class:"w-[350px] h-[500px]" %>
      </div>
    </div> 
  </div>
  <div class="flex justify-center m-3">
    <% if signed_in? %>
      <%= link_to "プランをつくってみる", new_plan_path, class:"text-base-content btn btn-accent md:btn-lg mb-3" %>
    <% else %>
      <%= link_to "プランをつくってみる", new_user_registration_path, class:"text-base-content btn btn-accent md:btn-lg" %>
    <% end %>
  </div>

  <div class="flex flex-col justify-center items-center md:mr-8">
    <div class="carousel mt-10 w-[350px] md:w-[400px] gap-x-8">
      <div id="item1" class="carousel-item w-full">
        <div class="flex flex-col">
          <p class="text-sm md:text-lg text-center pb-3">プランごとにいきたい場所を登録できる！</p>
          <div class="mockup-phone">
            <div class="camera"></div> 
            <div class="display bg-white">
              <div class="artboard artboard-demo phone-1">
                <%= image_tag "plan_new.gif", alt: "PlanNew" %>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div id="item2" class="carousel-item w-full">
        <div class="flex flex-col">
        <p class="text-sm md:text-lg text-center pb-3">メンバーを招待していきたい場所を共有できる！</p>
        <div class="mockup-phone">
          <div class="camera"></div> 
          <div class="display bg-white">
            <div class="artboard artboard-demo phone-1">
              <%= image_tag "invitation.gif", alt: "Invitation" %>
            </div>
          </div>
        </div>
        </div>
      </div>  
      <div id="item3" class="carousel-item w-full">
        <div class="flex flex-col">
          <p class="text-sm md:text-lg text-center pb-3">マイプランを一括管理できる！</p>
          <div class="mockup-phone">
            <div class="camera"></div> 
            <div class="display bg-white">
              <div class="artboard artboard-demo phone-1">
                <%= image_tag "index.png", alt: "MyIndex" %>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> 
    <div class="flex justify-center w-full py-2 gap-2 md:pr-7">
      <a href="#item1" class="btn btn-xs rounded-3xl">1</a> 
      <a href="#item2" class="btn btn-xs rounded-3xl">2</a> 
      <a href="#item3" class="btn btn-xs rounded-3xl">3</a> 
    </div>
  </div>
  <div class="flex justify-center mt-3 md:mr-16">
    <% if signed_in? %>
      <%= link_to "さっそく使ってみる", new_plan_path, class:"text-base-content btn btn-accent btn-sm md:btn-lg" %>
    <% else %>
      <%= link_to "さっそく使ってみる", new_user_registration_path, class:"text-base-content btn btn-accent btn-sm md:btn-lg" %>
    <% end %>
  </div> 
    
</div>
