<header class="bg-base-100 shadow-sm flex justify-between p-1">
  <div class="flex flex-col items-center space-x-3 pt-1 md:m-1">
    <%= link_to "Tripot Share", root_path, class:"text-xl md:text-3xl" %>
    <p class="text-xs md:mt-1">旅行計画共有サービス</p>
  </div>
  <div>
    <ul class="flex justify-end menu menu-horizontal md:m-2">
      <li class="hidden md:block link link-hover"><%= link_to "みんなのプランをみる", plans_path %></li>
      <li class="hidden md:block link link-hover"><%= link_to "旅行プランをつくる", new_plan_path %></li>
      <li>
        <div class="dropdown dropdown-bottom dropdown-end">
          <div tabindex="0" role="button">
            <div class="hidden md:block">
              <div class="flex">
                マイメニュー
                <span class="material-symbols-outlined">
                  expand_more
                </span>
              </div>
            </div>

            <!-- スマホ画面ではハンバーガーメニュー -->
            <div class="md:hidden">
              <span class="material-symbols-outlined">
                menu
              </span>
            </div>

          </div>
          <ul tabindex="0" class="border dropdown-content z-[1] menu mt-2 md:mt-4 shadow bg-base-100 rounded-box w-40 md:w-52">
            <li class="no-hover">
              <div class="flex">
                <div class="avatar">
                  <div class="w-7 h-7 mr-1 rounded-full">
                    <%= image_tag current_user.avatar_url %>
                  </div>
                </div>
                <%= current_user.name %>
              </div>
            </li>
            <li class="md:hidden"><%= link_to "プラン計画", new_plan_path %></li>
            <li><%= link_to "マイプラン", myplans_path %></li>
            <li class="md:hidden"><%= link_to "皆のプラン", plans_path %></li>
            <li><%= link_to "マイページ", "#" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, data: {turbo_method: :delete} %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>