<tr id="spot-<%= spot.id %>">
  <td></td>
  <td>  
    <div id="infowindow-<%= spot.id %>" class="link link-hover">
      <div class="text-md md:text-lg"><%= spot.name %></div>
      <div class="text-xs md:text-sm opacity-50 truncate"><%= spot.address %></div>
    </div>
  </td>
  <td>
    <%= link_to "#", class:"hover:brightness-75" do %>
      <div class="avatar">
          <div class="rounded-full mx-2 md:mx-auto w-7 h-7 md:w-12 md:h-12">
            <%= image_tag user.avatar_url, alt:"Avatar" %>
          </div>
      </div>
    <% end %>
  </td>
  <td class="whitespace-nowrap"><%=  spot_point.point %>ポイント</td>
  <td>
    <%= link_to '編集', edit_spot_point_path(spot, plan_id: plan.id), data: { turbo_stream: true }, class:"text-base-content btn btn-sm md:btn-md btn-info" %>
  </td>
</tr>

