<tr id="spot-<%= spot.id %>">
  <td>1</td>
  <td>  
    <%= render 'spots/modal', spot: spot %>
  </td>
  <td>
    <%= link_to "#", class:"hover:brightness-75" do %>
      <div class="avatar">
          <div class="rounded-full mx-2 md:mx-auto w-7 h-7 md:w-12 md:h-12">
            <%= image_tag "sample.jpg", alt:"Avatar" %>
          </div>
      </div>
    <% end %>
  </td>

  <!-- spot_pointsからspot.idと同じ値のデータを持ってくる。lastだとspot_pointを取り出す。-->
  <% spot_point = spot_points.find { |spot_id, spot_point| spot_id == spot.id }&.last %>
  <% if spot_point %>
    <td class="whitespace-nowrap"><%=  spot_point.point %>ポイント</td>
  <% end %>

  <td>
    <%= link_to '編集', edit_spot_point_path(spot, plan_id: plan.id), data: { turbo_stream: true }, class:"text-base-content btn btn-sm md:btn-md btn-info" %>
  </td>
</tr>

