<%= turbo_frame_tag 'course' do %>
  <dialog data-modal-target="dialog" class="p-6 rounded-lg backdrop:bg-black/50 text-base-content">
    <div class="flex justify-end">
      <button autofocus data-action="modal#close">
        <span class="material-symbols-outlined">
          close
        </span>
      </button>
    </div>
    <h2 class="text-lg md:text-xl font-bold mb-1 md:mb-4 underline text-center">ルートの作成</h2>
    <p class="text-xs md:text-sm text-center">ランクインしたスポットを出発地から到着地まで<br />効率よく巡ることができるルートを自動で作成します</p>
    <%= form_with model: @course, url: plan_courses_path(@plan), id: "form", data: {turbo_method: :post} do |f|%>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-control my-3">
        <%= f.label :start_location %>
        <%= f.text_field :start_location, autofocus: true, class: "input input-sm md:input-md input-bordered", placeholder: "例：京都駅" %>
      </div>

      <div class="form-control my-3">
        <%= f.label :end_location %>
        <%= f.text_field :end_location, autofocus: true, class: "input input-sm md:input-md input-bordered", placeholder: "例：アパホテル京都駅東" %>
      </div>

      <div class="flex justify-center mt-3">
        <%= f.submit "作成", class: "text-base-content btn btn-sm md:btn-md btn-accent", data: { turbo: false } %>
      </div>
    <% end %>
  </dialog>
<% end %>

<script>
  document.getElementById('form').addEventListener('submit', function(event) {
    sessionStorage.setItem('first_load', 'true'); 
  });
</script>