<div class="card bg-base-100 w-[350px] h-[130px] md:w-[500px] md:h-[300px] shadow-xl overflow-hidden hover:shadow-2xl group rounded-xl transition-all duration-300 transform">
  <%= image_tag "bgcard.jpg", alt: "bg-image", class: "md:block absolute inset-0 h-full w-full object-cover z-0" %>
  <%= image_tag "bgcard-sm.jpg", alt: "bg-image", class: "md:hidden absolute inset-0 h-full w-full object-cover z-0" %>
  <div id="plan-<%= plan.id %>" class="card-body ms-4 mt-2 md:items-center md:text-center z-10 bg-opacity-0 md:mt-14 md:pt-8">
    <h2 class="text-base truncate md:text-2xl">
      <%= plan.name %>
      <%= link_to edit_plan_path(plan), data: { turbo_stream: true } do %>
        <span class="material-symbols-outlined pt-2 md:pt-3" style= "font-size: 16px;">
          edit_square
        </span>
      <% end %>
    </h2>
    <div class="flex md:flex-col">
      <div class="flex md:justify-center ps-1 md:ps-0">
        <span class="material-symbols-outlined md:pt-1" style= "font-size: 18px;">
          location_on
        </span>
        <div class="text-xs md:text-base">
          <%= plan.location %>
        </div>
      </div>

      <% if plan.start_date.present? || plan.end_date.present? %>
        <p class="text-xs md:text-lg md:pt-2 ms-10 md:ms-0">
          <%= plan.start_date %>〜<%= plan.end_date %>
        </p>
      <% else %>
        <p class="text-xs md:text-lg md:pt-2 ms-20 md:ms-0"><%= t('defaults.undecided_date') %></p>
      <% end %>
    </div>

    <div class="card-actions justify-end md:hidden">
      <%= link_to t('defaults.show'), plan_path(plan), class:"link" %>
    </div>
  </div>
  <div class="card-actions justify-end mb-4 mr-7 group-hover:opacity-100 md:opacity-0 transform transition-all delay-200 duration-300">
    <%= link_to t('defaults.show'), plan_path(plan), class:"link" %>
  </div>
</div>
