<article class="flex justify-center items-center pt-3">
  <div class="card shrink-0 max-w-xs md:w-full md:max-w-sm shadow-2xl bg-base-100">

    <div class="card-body">
      <h2 class="text-lg md:text-2xl font-bold mb-1 md:mb-2 underline text-center"><%= t('.title') %></h2>

      <%= form_with model: @plan do |f|%>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-control my-3">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "input input-sm md:input-md input-bordered", placeholder: "例：卒業旅行 in 京都" %>
        </div>

        <!--<div class="form-control my-3">
          <%= f.label :address, "旅行する都道府県" %>
          <%= f.text_field :address, autofocus: true, class: "input input-sm md:input-md input-bordered", placeholder: "旅行する都道府県を入力してね" %>
        </div>-->

        <div class="form-control my-3">
          <div class="flex">
            <%= f.label :start_date %>
            <span><%= t('.null_permission') %></span>
          </div>
          <%= f.date_field :start_date, class: "input input-sm md:input-md input-bordered" %>
        </div>

        <div class="form-control my-3">
          <div class="flex">
            <%= f.label :end_date %>
            <span><%= t('.null_permission') %></span>
          </div>
          <%= f.date_field :end_date, class: "input input-sm md:input-md input-bordered" %>
        </div>

        <div class="flex justify-center mt-3">
          <%= f.submit "次へ", class: "text-base-content btn btn-sm md:btn-md btn-accent" %>
        </div>
      <% end %>
    </div>
  </div>
</article>