<article class="pb-4 flex flex-col justify-center">
  <h2 class="text-xl md:text-2xl font-bold underline my-1 md:my-2 text-center"><%= t('.title') %></h2>
  
  <!-- 地図の表示 -->
  <div id="map" class="border w-full h-[250px] md:h-[400px] mt-1"></div>

  <!-- 登録フォーム -->
  <%= render "spots/form", spot: @spot, plan: @plan %>

  <!-- 登録済みリスト -->
  <%= render 'list', users: @users, user_spots: @user_spots, plan: @plan %>

  <!-- リスト保存ボタン　-->
  <div class="flex justify-center mt-3">
    <%= link_to "一時保存", plan_path(@plan), class:"text-base-content btn btn-accent btn-sm md:btn-lg" %>
  </div>
  
</article>



<script>
  // 他のファイルでも使用できるようにfunctionの外側で定義
  let map

  let markers = [];

  // マップの初期化設定
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 10,
      center:  { lat: <%= @location.latitude %>, lng: <%= @location.longitude %> }, // 地図の中心を指定
      // ストリートビューなど地図右下に表示されていたオプションを削除
      disableDefaultUI: true,
      keyboardShortcuts: false,
      mapId: "<%= ENV['GOOGLE_MAP_ID'] %>"
    });

    


    // ページリロードしても登録したマーカーが消えない設定
    <% @spots.each do |spot| %>
      (() => {
        let glyphImg = document.createElement("img");

        glyphImg.src = '<%= asset_path('sample.jpg') %>';
        glyphImg.className = 'glyph-img';    

        let glyphSvgPinView = new google.maps.marker.PinElement({
          glyph: glyphImg,
          
        });

        let marker = new google.maps.marker.AdvancedMarkerElement({
          map: map,
          position: {lat: <%= spot.latitude %>, lng: <%= spot.longitude %>},
          id: <%= spot.id %>,
          content: glyphSvgPinView.element,
        });
      })();
    <% end %>
  }

</script>
<!-- google mapのスクリプト -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAPS_API_KEY']%>&callback=initMap&libraries=places&v=weekly&libraries=marker" defer></script>

