<article class="pb-4 flex flex-col justify-center">
  <h2 class="text-xl md:text-2xl font-bold underline my-1 md:my-2 text-center"><%= t('.title') %></h2>
  
  <!-- 地図の表示 -->
  <div id="map" class="border w-full h-[250px] md:h-[400px] mt-1"></div>

  <!-- 登録フォーム -->
  <%= render "spots/form", spot: @spot, plan: @plan %>

  <!-- 登録済みリスト -->
  <%= render 'list', users: @users, user_spots: @user_spots, plan: @plan %>

  <!-- リスト保存ボタン　-->
  <div class="flex justify-center mt-3">
    <%= link_to "一時保存", plan_path(@plan), class:"text-base-content btn btn-accent btn-sm md:btn-lg" %>
  </div>
  
</article>



<script>
  // 他のファイルでも使用できるようにfunctionの外側で定義
  let map
  
  let markers = [];

  // マップの初期化設定
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 5,
      center:  { lat: 37.148, lng: 138.234 }, // 地図の中心を指定
      // ストリートビューなど地図右下に表示されていたオプションを削除
      disableDefaultUI: true,
      keyboardShortcuts: false
    });
    
    // ページリロードしても登録したマーカーが消えない設定
    <% @spots.each do |spot| %>
      (() => {
        let marker = new google.maps.Marker({
          map: map,
          position: {lat: <%= spot.latitude %>, lng: <%= spot.longitude %>},
          id: <%= spot.id %>
        });
      })();
    <% end %>
  } 

</script>
<!-- google mapのスクリプト -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAPS_API_KEY']%>&callback=initMap&libraries=places&v=weekly" defer></script>

