<article class="pb-4 flex flex-col justify-center">
  <div class="flex items-center">
    <h2 class="grow text-xl md:text-2xl font-bold underline my-1 md:my-2 text-center ps-7"><%= @plan.name %></h2>

    <% if current_user.member?(@plan.id) %>
     <!-- 追加メニュー -->
      <div class="flex-none dropdown dropdown-end">
        <div tabindex="0" role="button" class="pt-1 md:pr-5">
          <div class="material-symbols-outlined">
            add_box
          </div>
        </div>
        <ul tabindex="0" class="border dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-40 md:w-52">
          <li class="text-xs md:text-lg">
            <%= link_to new_spots_plan_path(@plan) do %>
              <span class= "material-symbols-outlined" style= "font-size: 20px;">
                add_location_alt
              </span>
              スポット追加
            <% end %>
          </li>

          <li class="text-xs md:text-lg">
            <div data-controller="modal">
              <%= render template: 'devise/invitations/new' %>
              <%= link_to new_user_invitation_path(id: @plan.id), data: { action: "click->modal#open", turbo_frame: "modal" } do %>
                <span class= "material-symbols-outlined" style= "font-size: 20px;">
                  person_add
                </span>
                メンバー招待
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

  <!-- 地図の表示 -->
  <div id="map" class="border w-full h-[250px] md:h-[400px] mt-1"></div>

  <!-- 登録済みリスト -->
  <div class="m-5">
    <div data-controller="tabs" data-tabs-active-tab-class="-mb-px border-l border-t border-r rounded-t-xl bg-primary">
      <div class="flex overflow-x-auto">
        <div class="flex-none">
          <ul class="list-reset flex">
            <% @users.each do |user| %>
              <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
                <a class="text-xs md:text-lg inline-block px-2 md:py-2 md:px-4 rounded-t-xl"><%= user.name %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="hidden py-4 px-4 border bg-base-100 rounded-box rounded-tl-none" data-tabs-target="panel">
        <div class="overflow-auto h-[400px] w-[300px] md:w-[1300px] mx-auto">
          <table class="table table-sm md:table-md table-pin-rows table-pin-cols">
            <thead>
              <tr>
                <th class="md:w-[100px]"></th>
                <th>スポット名</th>
                <th class="md:w-[100px]">登録者</th>
                <th class="md:w-[100px]"></th>
                <th class="md:w-[100px]">
                  <label>
                    <input type="checkbox" class="checkbox" />
                  </label>
                </th>
              </tr>
            </thead>
            <tbody id="spot-table">
              <%= render partial: 'spots/spot', collection: @spots, as: :spot, locals: { plan: @plan } %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="hidden py-4 px-4 border bg-base-100 rounded-box" data-tabs-target="panel">
        <div class="overflow-auto h-[400px] w-[300px] md:w-[1300px] mx-auto">
          <table class="table table-sm md:table-md table-pin-rows table-pin-cols">
            <thead>
              <tr>
                <th class="md:w-[100px]"></th>
                <th>スポット名</th>
                <th class="md:w-[100px]">登録者</th>
                <th class="md:w-[100px]"></th>
                <th class="md:w-[100px]">
                  <label>
                    <input type="checkbox" class="checkbox" />
                  </label>
                </th>
              </tr>
            </thead>
            <tbody id="spot-table">
            </tbody>
          </table>
        </div>
      </div>
      <div class="hidden py-4 px-4 border bg-base-100 rounded-box" data-tabs-target="panel">
        <div class="overflow-auto h-[400px] w-[300px] md:w-[1300px] mx-auto">
          <table class="table table-sm md:table-md table-pin-rows table-pin-cols">
            <thead>
              <tr>
                <th class="md:w-[100px]"></th>
                <th>スポット名</th>
                <th class="md:w-[100px]">登録者</th>
                <th class="md:w-[100px]"></th>
                <th class="md:w-[100px]">
                  <label>
                    <input type="checkbox" class="checkbox" />
                  </label>
                </th>
              </tr>
            </thead>
            <tbody id="spot-table">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- シェアボタン　--> 
  <div class="flex justify-center mt-3">
    <%= link_to "一覧ページへ戻る", "#", class:"text-base-content btn btn-accent btn-sm md:btn-lg" %>
  </div>       
  <%= render 'plans/invitation_url_button' %>
</article>



<script>
  // 他のファイルでも使用できるようにfunctionの外側で定義
  let map

  let markers = [];

  // マップの初期化設定
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 5,
      center:  { lat: 37.148, lng: 138.234 }, // 地図の中心を指定
      // ストリートビューなど地図右下に表示されていたオプションを削除
      disableDefaultUI: true,
      keyboardShortcuts: false
    });
    
    // ページリロードしても登録したマーカーが消えない設定
    <% @spots.each do |spot| %>
      (() => {
        let marker = new google.maps.Marker({
          map: map,
          position: {lat: <%= spot.latitude %>, lng: <%= spot.longitude %>},
          id: <%= spot.id %>
        });
      })();
    <% end %>
  } 

</script>
<!-- google mapのスクリプト -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAPS_API_KEY']%>&callback=initMap&libraries=places&v=weekly" defer></script>
