<article class="pb-4 flex flex-col justify-center">
  <div class="flex items-center">
    <h2 class="grow text-xl md:text-2xl font-bold underline my-1 md:my-2 text-center ps-7"><%= @plan.name %></h2>

      <!-- 追加メニュー -->
      <div class="flex-none dropdown dropdown-end">
        <div tabindex="0" role="button" class="pt-1 md:pr-5">
          <div class="material-symbols-outlined">
            add_box
          </div>
        </div>
        <ul tabindex="0" class="border dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-40 md:w-52">
          <li class="text-xs md:text-lg">
            <%= link_to new_spots_path(@plan) do %>
              <span class= "material-symbols-outlined" style= "font-size: 20px;">
                add_location_alt
              </span>
              スポット追加
            <% end %>
          </li>

          <li class="text-xs md:text-lg">
            <div data-controller="modal">
              <%= render template: 'devise/invitations/new' %>
              <%= link_to new_user_invitation_path(id: @plan.id), data: { action: "click->modal#open", turbo_frame: "modal" } do %>
                <span class= "material-symbols-outlined" style= "font-size: 20px;">
                  person_add
                </span>
                メンバー招待
              <% end %>
            </div>
          </li>
        </ul>
      </div>
  </div>

  <!-- 地図の表示 -->
  <div id="map" class="border w-full h-[250px] md:h-[400px] mt-1"></div>

  <!-- 登録済みリスト -->
  <div role="tablist" class="tabs tabs-lifted tabs-xs md:tabs-lg mx-auto mt-3">
    <!-- タブ１ -->
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="あやか" checked />
    <!-- タブの中身 -->
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-4">
      <div class="overflow-auto h-[400px] w-[300px] md:w-[1300px] mx-auto">
        <table class="table table-sm md:table-md table-pin-rows table-pin-cols">
          <thead>
            <tr>
              <th class="md:w-[100px]"></th>
              <th>スポット名</th>
              <th class="md:w-[100px]">登録者</th>
              <th class="md:w-[100px]">
                <label>
                  <input type="checkbox" class="checkbox" />
                </label>
              </th>
            </tr>
          </thead>
          <tbody id="spot-table">
            <%= render @spots %>
          </tbody>
        </table>
      </div>
    </div>
    

    <!-- タブ２ -->
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Saki" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-4">
      <div class="overflow-auto h-[400px] w-[360px] md:w-[1300px] mx-auto">
        <table class="table table-sm md:table-md table-pin-rows table-pin-cols">
          <thead>
            <tr>
              <th class="md:w-[100px]"></th>
              <th>スポット名</th>
              <th class="md:w-[100px]">登録者</th>
              <th class="md:w-[100px]">
                <label>
                  <input type="checkbox" class="checkbox" />
                </label>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <!-- タブ３ -->
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Ken" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-4">
      <div class="overflow-auto h-[400px] w-[360px] md:w-[1300px] mx-auto">
        <table class="table table-sm md:table-md table-pin-rows table-pin-cols">
          <thead>
            <tr>
              <th class="md:w-[100px]"></th>
              <th>スポット名</th>
              <th class="md:w-[100px]">登録者</th>
              <th class="md:w-[100px]">
                <label>
                  <input type="checkbox" class="checkbox" />
                </label>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <!-- シェアボタン　--> 
  <div class="flex justify-center mt-3">
    <%= link_to "一覧ページへ戻る", "#", class:"btn btn-accent btn-sm md:btn-lg" %>
  </div>       
  <%= render 'plans/invitation_url_button' %>
</article>



<script>
  // 他のファイルでも使用できるようにfunctionの外側で定義
  let map

  // 配列にマーカーの情報を追加する
  let markers = [];

  // マップの初期化設定
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 5,
      center:  { lat: 37.148, lng: 138.234 }, // 地図の中心を指定
      // ストリートビューなど地図右下に表示されていたオプションを削除
      disableDefaultUI: true,
      keyboardShortcuts: false
    });
    
    // ページリロードしても登録したマーカーが消えない設定
    <% @spots.each do |spot| %>
      (() => {
        let marker = new google.maps.Marker({
          map: map,
          position: {lat: <%= spot.latitude %>, lng: <%= spot.longitude %>}
        });
      })();
    <% end %>
  } 

</script>
<!-- google mapのスクリプト -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAPS_API_KEY']%>&callback=initMap&libraries=places&v=weekly" defer></script>
